.selectable-menu-item {
  width: 100%;
  font-size: 13px;
  font: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 15px 45px;
  transition: 0.4s;
  background-size: 200% auto;
  color: black;
  border: 0;
  outline: none;
}

.selectable-menu-item-icon {
  transition: 0.4s;
  height: 100%;
}

.selectable-menu-item-label {
  font-weight: 500;
  transition: 0.4s;
  position: relative;
  top: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  bottom: 50%;
  display: inline-block;
  font-family: "Montserrat";
}

.selectable-menu-item-active {
  width: 100%;
  font-size: 13px;
  font: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 15px 45px;
  transition: 0.4s;
  background-size: 200% auto;
  color: rgb(100, 29, 206);
  border: 0;
  outline: none;
}

.selectable-menu-item-active-icon {
  transition: 0.4s;
  height: 100%;
  color: #4776E6;
}

.selectable-menu-item-active-label {
  font-weight: 800;
  transition: 0.4s;
  position: relative;
  top: 50%;
  bottom: 50%;
  display: inline-block;
  color: rgb(100, 29, 206);
  font-family: "Montserrat";
  background: linear-gradient(to right, #4776E6 0%, #8E54E9  51%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-text-fill-color: transparent;
}

.selectable-menu-item:hover {
  width: 100%;
  font-size: 13px;
  font: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(131, 148, 187, 0.248);
  padding: 15px 45px;
  transition: 0.1s;
  background-size: 200% auto;
  border: 0;
  outline: none;
}